<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"  internalLogLevel="Info"
      internalLogFile="F:/logs/SelfCore_Hobbies.txt">

  <variable name="applicationName" value="SelfCore_Hobbies"></variable>
  <variable name="logPath" value="F:/logs/${applicationName}/${shortdate}"></variable>
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to / 异步执行  保存30天-->
  <targets async="true" maxArchiveDays="30" archiveAboveSize="10240">
    <target xsi:type="File" name="apilog" fileName="${logPath}/api-trace.log"
           layout=" ${longdate}  ThreadId:${threadid} ${callsite}:${callsite-linenumber} ${newline} ${message}${exception:format=tostring}" />

    <target xsi:type="File" name="querylog" fileName="${logPath}/sql-trace.log"
           layout=" ${longdate}  ThreadId:${threadid}  url: ${aspnet-request-url} - ${aspnet-mvc-action}  ${callsite}:${callsite-linenumber} ${newline}${message} ${exception:format=tostring} " />

    <target xsi:type="File" name="excetionlog" fileName="${logPath}/excetion-trace.log"
           layout=" ${longdate}  ThreadId:${threadid}  url: ${aspnet-request-url} - ${aspnet-mvc-action}  ${callsite}:${callsite-linenumber} ${newline}${message} ${exception:format=tostring} " />

    <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection 
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}"/> -->
  </targets>

  <rules>
    <!--日志级别：Trace Debug Info Warn Error Fatal-->
    <logger name="ApiTraceLog" minlevel="Trace" writeTo="apilog" />
    <logger name="SqlTraceLog" minlevel="Trace" writeTo="querylog" />
    <logger name="ExcptionLog" minlevel="Info" writeTo="excetionlog" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
    <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
  </rules>
</nlog>